<div class="navbar">
  <nav>
    <ul class="navbar-main">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/one" >One</a></li>
      <li routerLinkActive="active"><a routerLink="/two">Two</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/three']">Three</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/four']">Four</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/posts']">Posts</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
    </ul>
  </nav>
</div>
